@page "/item/create"
@using DMStorefront.Shared.Models.Item;

@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Create</h3>
<Form ButtonText="Create Item" item="@item"
            OnValidSubmit="@CreateAnItem" />
@code {
    Item item = new Item();
    async Task CreateAnItem()
    {
        await http.PostAsJsonAsync("api/item", item);
        uriHelper.NavigateTo("item");
    }
}

