@page "/GoShopping"
@using DMStorefront.Client.Shared.PlayerStore
@using DMStorefront.Shared.Models

@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime js
@inject AuthenticationStateProvider asp

<h3>Find a Store by Username</h3>
<div class="d-flex flex-row justify-content-around ">
	
	<div>
	
		<label>DM's Username:</label>
         <input type="text" @bind:event="oninput" @bind="@UserName" />

@if (disableState == true)
{
    <input type="button" value="Search" disabled>
}
else
{
    <input type="button" @onclick="GetStock" value="Search">
}


</div>
	


	
	<StoreStockComponent StockItems=@StockItems />
	<PlayerCartComponent/>
</div>


@code {
	AuthenticationState? getasp { get; set; }
	Item[]? StockItems { get; set; }
	List<Item>? CartItems { get; set; }
	//public string UserName { get; set; }
	bool disableState = true;
	private string _UserName;
	public string UserName {

		get{ return _UserName; }
		set
		{
			_UserName = value;
			disableState = _UserName?.Length < 1 ? true : false;

		}

	}
	

	


	public async void GetStock()
	{
		
		StockItems = await Http.GetFromJsonAsync<Item[]>($"api/stock/{UserName}");
		StateHasChanged();
	}

	

}
