@page "/GoShopping"
@attribute [Authorize]
@using DMStorefront.Client.Shared.PlayerStore
@using DMStorefront.Shared.Models
@inject HttpClient http


<div style="page-title padding: 50px">
	<h3 class="page-title">Find a Store by Username</h3>
	<label class="dm-search">DM's Username:</label>
	<input type="text" @bind:event="oninput" @bind="@UserName" />

	@if (disableState == true)
	{
		<input type="button" value="Search" disabled>
	}
	else
	{
		<input type="button" @onclick="GetStock" value="Search">
	}
</div>

<div class="d-flex flex-row justify-content-around ">
	<StoreStockComponent StockItems=@StockItems />
	<PlayerCartComponent />
</div>


@code {
	Item[]? StockItems { get; set; }
	List<Item>? CartItems { get; set; }
	bool disableState = true;
	private string _userName;
	public string UserName
	{
		get { return _userName; }
		set
		{
			_userName = value;
			disableState = _userName?.Length < 1 ? true : false;
		}
	}

	public async void GetStock()
	{
		StockItems = await http.GetFromJsonAsync<Item[]>($"api/stock/{UserName}");
		StateHasChanged();
	}
}
