@page "/"


<html>
<base href="/" />
<main class="flex-shrink-0">
	<body>
		<div class="bg-262626 fancy-font text-white text-center padding:0">
			<img src="/images/logo_3.svg" width="743" height="369" />
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm">

					<div class="choose-side-box ">
						<h2><a href=/Store>Dungeon Master</a></h2>
						<p>
							<ul>
								<li> Create Items for Your Players</li>
								<li> Add Them to Your Storefront</li>
								<li> (Do other stuff)</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="col-sm">
					<div class="choose-side-box ">
						<h2><a href=/GoShopping>Player</a></h2>
						<p>
							<ul>
								<li> Manage your Wallet </li>
								<li> View Your DM's Store</li>
								<li> (Do other stuff?)</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="col-sm">
				</div>

			</div>

		</div>
	</body>
</main>
</html>
