@page "/"
<html>
<base href="/" />
<main class="flex-shrink-0">
	<body>
		<div class="bg-262626 fancy-font text-white text-center padding:0">
			<img src = "/images/Home_logo_md.png" style = "image-rendering:pixelated;"/>
		</div>

		<div class="container-fluid text-center">
			<div class="row">
				<div class="col-sm">
					</div>
					<div class="col-sm choose-side-box">
					<h2><a href=/DMStorePage>Dungeon Master</a></h2>
					<p>
						<ul>
							<li> Create Items for Your Players</li>
							<li> Add Them to Your Storefront</li>
							<li> (Do other stuff)</li>
						</ul>
					</p>

				</div>
				<div class="col-sm">
					<h2><a href=/PlayerStorePage>Player</a></h2>
					<p>
						<ul>
							<li> Manage your Wallet </li>
							<li> View Your DM's Store</li>
							<li> (Do other stuff?)</li>
						</ul>
					</p>
				</div>
				<div class="col-sm">

				</div>

			</div>

		</div>
	</body>
</main>

	


</html>
