@page "/"
<html>
<base href="/" />
<main class="flex-shrink-0">
<body>
<div class="bg-primary text-white p-5 text-center">
  <h1>DM Storefront</h1>
  <p>Welcome to DM Storefront! This is a tool designed to help Dungeon Masters and Players of Dungeons & Dragons 
      (or other tabletop roleplaying games) get through their “shopping sessions” more quickly and conveniently.
      This tool allows the DM to create a store that displays all the items for sale and edit those items’ properties.
      Then, a simple interface for keeping track of player gold via a shopping cart allows players to buy items without 
      having to do any extra math themselves. Technology is beautiful, isn’t it?</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h2><a href = /DMStorePage>Dungeon Master</a></h2>
      <p><ul>
          <li> Create Items for Your Players</li>
          <li> Add Them to Your Storefront</li>
          <li> (Do other stuff)</li>
      </ul></p>
      
    </div>
    <div class="col-sm">
      <h2><a href= /PlayerStorePage>Player</a></h2>
       <p><ul>
          <li> Manage your Wallet </li>
          <li> View Your DM's Store</li>
          <li> (Do other stuff?)</li>
      </ul></p>
    </div>
    
  </div>
 
</div>
</body>
</main>
 <footer class = "footer mt-auto py-3 bg-light">
    <div class="container">
        <span class = "text-muted"> <a href= /About>About this project.</a></span>
    </div>

</footer>
</html>
