<div class="form-signin">
	<EditForm Model="@Inventory" OnValidSubmit="@OnValidSubmit">
		<DataAnnotationsValidator />
		<div style="font-family: 'Zen Loop', cursive padding: 50px">
			<InputNumber class="form-control" @bind-Value="@Inventory.Wallet" />
			<ValidationMessage For="@(() => Inventory.Wallet)" />
			<button class="dms-button-generic btn btn-lg btn-primary btn-block" type="submit">
				Set Gold
			</button>
		</div>
	</EditForm>
</div>

@code {
	[Parameter] public Inventory Inventory { get; set; } = new Inventory(0, "error");
	[Parameter] public EventCallback OnValidSubmit { get; set; }
}
