<EditForm Model="@inventory" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<div style = "font-family: 'Zen Loop', cursive padding: 50px">
		<InputNumber @bind-Value="@inventory.Wallet" />
		<ValidationMessage For="@(() => inventory.Wallet)" />
		<button type="submit">
			Set Gold
		</button>
	</div>

</EditForm>
@code {
	[Parameter] public Inventory inventory { get; set; }
	[Parameter] public EventCallback OnValidSubmit { get; set; }
}
