@using DMStorefront.Client.Shared.DMStore;


	
<div class="d-flex flex-column">
	<div class="d-flex flex-row justify-content-center">
		<h1 class= "page-title">
			Manage Your Store
		</h1>
		
	</div>
	<div class= "d-flex flex-row justify-content-center">
		<div class="item-tables"><ItemsComponent /></div>
		<div class="item-tables"><DMStoreStockComponent /> 
	</div>
</div>
</div>


@code {


}
