@inject IdentityAuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager


<AuthorizeView>
	<NotAuthorized>
		<button @onclick="LoginClick">Login</button>
	</NotAuthorized>
	<Authorized>
		<button class=@LogoutClass @onclick="LogoutClick">Logout</button>
	</Authorized>
</AuthorizeView>


@code {
	[Parameter] public string LogoutClass { get; set; } = "";

	async Task LogoutClick()
	{
		await authStateProvider.Logout();
		navigationManager.NavigateTo("/");
	}

	public void LoginClick()
	{
		navigationManager.NavigateTo("/login");
	}
}
