@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
<div class="d-flex flex-column">
	<NavMenu />
	<main>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>


@code {

	async Task LogoutClick()
	{
		await authStateProvider.Logout();
		navigationManager.NavigateTo("/");
	}

	private void LoginClick()
	{
		navigationManager.NavigateTo("/login");
	}
}