@inject AuthenticationStateProvider authStateProvider

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">
		<span class="oi oi-home" aria-hidden="true"></span> DMStorefront
	</a>
	<button class="navbar-toggler" @onclick="@ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-collapse @NavMenuCssClass" @onclick="@ToggleNavMenu">
		<ul class="navbar-nav flex-fill" @onclick="@ToggleNavMenu">
			<li class="nav-item px-3">
				<a class="nav-link" href="counter">
					<span class="oi oi-plus" aria-hidden="true"></span> Counter
				</a>
			</li>
			<li class="nav-item px-3">
				<a class="nav-link" href="fetchdata">
					<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
				</a>
			</li>
			<AuthorizeView>
				<NotAuthorized><!-- Blank <NotAuthorized> needed to make Blazor hide <Authorized> content when not logged in--></NotAuthorized>
				<Authorized>
					<li class="nav-item px-3 ">
						<a class="nav-link" href="/store">
							<span class="oi oi-list-rich" aria-hidden="true"></span> Manage Store
						</a>
					</li>
					<li class="nav-item px-3 ">
						<a class="nav-link" href="/GoShopping">
							<span class="oi oi-list-rich" aria-hidden="true"></span> Go Shopping
						</a>
					</li>
					<li class="ms-auto">
						<AccountButtonComponent Class="btn btn-link" Username=@Username />
					</li>
					<li class="py-2 btn-link">|</li>

				</Authorized>
			</AuthorizeView>
			<li class="nav-item">
				<LogoutComponent LogoutClass="btn btn-link"/>
			</li>
		</ul>
	</div>
</div>


@functions {
	bool collapseNavMenu = true;
	string Username { get; set; } = "";

	protected override async Task OnInitializedAsync()
	{
		AuthenticationState authState = await authStateProvider.GetAuthenticationStateAsync();
		Username = authState.User.Identity.Name;
	}

	string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
