@page "/PlayerStore"
@using DMStorefront.Client.Shared.PlayerStore
@using DMStorefront.Shared.Models

@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime js
@inject AuthenticationStateProvider asp

<h3>PlayerStore</h3>
<div class="d-flex flex-row justify-content-around ">
	<StoreStockComponent StockItems=@StockItems />
	<PlayerCartComponent/>
</div>


@code {
	AuthenticationState? getasp { get; set; }
	Item[]? StockItems { get; set; }
	List<Item>? CartItems { get; set; }

	protected override async Task OnInitializedAsync()
	{
		getasp = await asp.GetAuthenticationStateAsync();
		var userName = getasp.User.Identity.Name;
		StockItems = await Http.GetFromJsonAsync<Item[]>($"api/stock/{userName}");
	}
}
