@using DMStorefront.Client.Services.Implementations;
@using DMStorefront.Client.Services.ServiceModels;

@inject ProfileService _profileService

<button @onclick="Toggle">Toggle Mode</button>

@code {

    private Preferences _preferences = new();

    [Parameter]
    public EventCallback<bool> OnUserModeToggled { get; set; }

    private void Toggle() => _profileService.ToggleUserMode();

    private void ProfileServiceOnOnChange(Preferences newPreferences)
    {
        _preferences = newPreferences;
        StateHasChanged();
    }
}